bin
obj
libs
dllsR
.vs
*.nupkg
*/bin
/*/bin
/*/obj
/*/.vs
/*/*.nupkg
/*/libs
/*/dllsR

Actuelice1/bin/*
Actuelice1/bin/Debug/Actuelice1.exe
Actuelice1/bin/Debug/Actuelice1.exe.config
Actuelice1/bin/Debug/Actuelice1.pdb
Actuelice1/bin/Debug/Actuelice1.vshost.exe
Actuelice1/bin/Debug/Actuelice1.vshost.exe.config
Actuelice1/bin/Debug/Actuelice1.vshost.exe.manifest
Actuelice1/bin/Debug/bdActualizadoor.sqlite
Actuelice1/bin/Debug/bdSesionEstorage.sqlite
Actuelice1/bin/Debug/BDTemporalStorage.sqlite
Actuelice1/bin/Debug/CopiadorBasico.exe
Actuelice1/bin/Debug/CopiadorBasico.pdb
Actuelice1/bin/Debug/delimon.win32.io.dll
Actuelice1/bin/Debug/LiveCharts.dll
Actuelice1/bin/Debug/LiveCharts.Wpf.dll
Actuelice1/bin/Debug/LumenWorks.Framework.IO.dll
Actuelice1/bin/Debug/MaterialDesignColors.dll
Actuelice1/bin/Debug/MaterialDesignThemes.Wpf.dll
Actuelice1/bin/Debug/Ookii.Dialogs.Wpf.dll
Actuelice1/bin/Debug/Ookii.Dialogs.Wpf.pdb
Actuelice1/bin/Debug/Ookii.Dialogs.Wpf.xml
Actuelice1/bin/Debug/RelacionadorDeSerieConsola.exe
Actuelice1/bin/Debug/RelacionadorDeSerieConsola.pdb
Actuelice1/bin/Debug/ReneUtiles.dll
Actuelice1/bin/Debug/ReneUtiles.pdb
Actuelice1/bin/Debug/ReneUtilesMultimedia.dll
Actuelice1/bin/Debug/ReneUtilesMultimedia.pdb
Actuelice1/bin/Debug/ReneWPF.dll
Actuelice1/bin/Debug/ReneWPF.pdb
Actuelice1/bin/Debug/System.Data.SQLite.dll
Actuelice1/bin/Debug/System.Data.SQLite.pdb
Actuelice1/bin/Debug/System.Data.SQLite.xml
Actuelice1/bin/Debug/XP_SP2CodesEn.csv
